<table>
    <thead>
        <tr>
            <td>Survived</td>
            <td>passengerClass</td>
            <td>name</td>
            <td>Sex</td>
            <td>Age</td>
            <td>siblingsOrSpousesAboard</td>
            <td>parentsOrChildrenAboard</td>
            <td>fare</td>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{person.survived}}</td>
                <td>{{person.passengerClass}}</td>
                <td>{{person.name}}</td>
                <td>{{person.sex}}</td>
                <td>{{person.age}}</td>
                <td>{{person.siblingsOrSpousesAboard}}</td>
                <td>{{person.parentsOrChildrenAboard}}</td>
                <td>{{person.fare}}</td>
            </tr>
    </tbody>
</table>